@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: #172439;
  color: rgb(209, 213, 219);
}

.gamegrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
